# Dependencies
node_modules/
**/node_modules/

# Production Build outputs
dist/
**/dist/
build/
**/build/

# Local Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
**/ .env
**/.env

# Editor/OS settings
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db
